<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="FirebaseSharp" version="2.0.4" targetFramework="net461" />
  <package id="FireSharp" version="2.0.4" targetFramework="net461" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="MindFusion.Keyboard.Wpf" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="RestSharp" version="104.4.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net45" />
</packages>